@model IEnumerable<MarvelLibrary.Models.Comic>

@{
    ViewData["Title"] = "Comics";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
</head>
<body>

    <div class="mt-5">
        <h1 class="mt-5">Comics</h1>
        <!--<p><a asp-action="Comics" asp-route-id=@ViewBag.id>Get Comics</a> | --> 
        <p><a asp-action="Index">Back to List</a></p>
        <form asp-action="Details" method="get">
            <div class="form-actions no-color">
                <p>
                    Find by name: <input type="text" name="SearchString" asp-route-id=@ViewBag.id value="@ViewData["Filter"]" />
                    <input type="submit" value="Search" class="btn-dark" /> |
                    <a asp-action="Details">Back to Full List</a>
                </p>
            </div>
        </form>
        <hr>
        @foreach (var item in Model)
        {
            <div class="media">
                <img src="@Html.DisplayFor(modelItem=> item.Thumbnail)" class="align-self-center mr-3" height="400" width="250" />
                <div class="media-body">
                    <h5 class="mt-0"><strong>Title:</strong> @Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="mb-0">
                        <strong>Series Name:</strong> @Html.DisplayFor(modelItem => item.SeriesName)
                    </p>
                    <p class="mb-0">
                        <strong>Description:</strong> @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </div>
            </div>
            <p></p>
            <hr />
        }

    </div>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>
