@model MarvelLibrary.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1 class="mt-5">Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Html.DisplayFor(model => model.Thumbnail)" alt="@Html.DisplayFor(model => model.Thumbnail)" width="304" height="236" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Favorite" asp-route-id="@Model.Id">@ViewBag.Fav</a> |
    <a asp-action="Index">Back to List</a>
</div>
